<app-navbar></app-navbar>


<ion-content id="main-content" class="custom-background">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filtrarLibros($event)"
    placeholder="Buscar libros"
    debounce="500">
  </ion-searchbar>

  <ion-select
    style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
    label="Seleccione el género"
    label-placement="floating"
    fill="outline"
    placeholder="Seleccione un género"
    [(ngModel)]="generos"
    (ionChange)="GeneroCambio()">

    <ion-select-option *ngFor="let genero of generosArray" [value]="genero">
      {{ genero }}
    </ion-select-option>

  </ion-select>

  <div class="estilo_cartas">

    <ion-card style="--background: #12294D" class="tamaño_carta" *ngFor="let libro of librosFiltrados">
      <img  [src]="libro.imagen" alt="{{ libro.nombre }}" style="width: 100%;height: 70% " (click)="verDetallesLibro(libro.id)" />
      <ion-card-header>
        <ion-card-title style="color: white">{{libro.nombre}}</ion-card-title>
        <ion-card-subtitle>{{libro.generos}}</ion-card-subtitle>
        <ion-card-subtitle>
          <a [routerLink]="['/perfil', libro.autorId]" style="color: white;text-decoration: none;">
            {{ libro.username }}
          </a>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="reaction-container">
          <div class="reaction">
            <img src="assets/icons8-me-gusta-50_-removebg-preview.png" alt="Like Icon" (click)="votar(libro.id,true)" >
            <p style="color: white">{{libro.likes}}</p>
          </div>
          <div class="reaction">
            <img src="assets/icons8-pulgar-hacia-abajo-24-removebg-preview.png" alt="Dislike Icon" (click)="votar(libro.id,false)" >
            <p style="color: white">{{libro.dislikes}}</p>
          </div>
          <div class="reaction">
            <img src="assets/icons8-comentarios-50.png" alt="Comment Icon">
            <p style="color: white">23</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button href="crear-libro">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



<style>
  .custom-background {
    --background: white;
  }

  .estilo_cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 16px;
  }
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }

  .tamaño_carta {
    width: 300px;
    height: 500px;
    border-radius: 40px;
  }

  .reaction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reaction {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .reaction p {
    margin: 0;
  }

  .reaction img {
    width: 24px;
    height: 24px;
  }

</style>
