<ion-header>
  <ion-toolbar>
    <ion-title>Mensajes Grupales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" >
      <ion-avatar slot="start">
        <img [src]="chat.imagen || 'assets/images.jpg'" alt="Imagen del chat">
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.nombre }}</h2>
        <p>{{ chat.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  </ion-fab>
</ion-content>
