<ion-header>
  <ion-toolbar>
    <ion-title>Mensajes Grupales</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <ion-label>
        <h2>{{ chat.nombre }}</h2>
        <p>{{ chat.ultimoMensaje }}</p>
        <p><strong>Libro:</strong> {{ chat.libro }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarChat()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
