<ion-header>
  <ion-toolbar style="--background: #12294D; color: white;">
    <div class="desktop-menu">
      <ion-buttons slot="start">
        <ion-button routerLink="/home">Inicio</ion-button>
        <ion-button routerLink="/publicaciones">Publicaciones</ion-button>
        <ion-button routerLink="/chats">Chats</ion-button>
        <ion-button routerLink="/libros-favoritos">Libros favoritos</ion-button>
        <ion-button *ngIf="esAdmin" routerLink="/baneos">Admin</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <a [routerLink]="['/perfil',idactual]" style="color: white;">
          <ion-button>Perfil</ion-button>
        </a>
      </ion-buttons>
    </div>

    <ion-buttons slot="start" class="mobile-menu">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content" side="start" menu-id="mobile-menu">
  <ion-header>
    <ion-toolbar style="color: white;">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" button>Inicio</ion-item>
      <ion-item routerLink="/publicaciones" button>Publicaciones</ion-item>
      <ion-item routerLink="/chats" button>Chats</ion-item>
      <ion-item routerLink="/libros-favoritos" button>Libros favoritos</ion-item>
      <ion-item [routerLink]="['/perfil',idactual]" button>Perfil</ion-item>
      <ion-item *ngIf="esAdmin" routerLink="/baneos" button>Admin</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
