<ion-content>
  <div class="login-container">
    <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    <h2>Inicio de sesión</h2>

    <ion-item lines="none">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button" color="primary">Acceder</ion-button>

    <div class="signup-link">
      <p>¿Todavía no tienes una cuenta?</p>
      <a href="#">CREA UNA NUEVA HOY</a>
    </div>
  </div>
</ion-content>
