<app-navbar></app-navbar>


<ion-content id="main-content" class="custom-background">
  <div class="Usuarios">
    <div *ngFor="let usuario of usuarios" class="usuario-container">
      <ion-button fill="clear" style="border-radius: 50%">
        <img [src]="usuario.imagen" class="imagen_pfp"/>
      </ion-button>
      <p class="texto_pagina" style="color: black">{{ usuario.nombre }} {{ usuario.apellidos }}</p>
      <ion-button [color]="usuario.baneado ? 'danger' : 'primary'" (click)="usuario.baneado ? desbanearUsuario(usuario.id) : showBanPopup(usuario.id)">
        {{ usuario.baneado ? 'Desbanear' : 'Banear' }}
      </ion-button>
    </div>
  </div>
</ion-content>
<style>
  ion-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .custom-background {
    --background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }

  .usuario-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .imagen_pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .texto_pagina {
    flex: 1;
    margin-left: 10px;
  }
</style>
