ion-header {
  ion-toolbar {
    --background: #ffffff;
  }
}

ion-content {
  --background: #ffffff;
}
ion-text {
  color: #000000;
}
#tit {
  font-size: 150%;
  font-family: "Tw Cen MT";
  margin-left: 40%;
}
img {
  width: 30%;
  height: 90%;
  margin-left: 32%;
}
#descrip{
  margin-left: 20%;
  width: 40%;

}
