<!-- chats.component.html -->
<ion-content #content scroll-y="true">
  <div class="chat-header">
    <ion-avatar>
      <img src="assets/images/avatar.png" alt="Avatar">
    </ion-avatar>
    <h2>Chat Grupal</h2>
  </div>

  <ion-card>
    <ion-list>

      <ion-item lines="none" *ngFor="let m of mensajes">

        <ion-avatar slot="start" *ngIf="m.usuarioId === usuarioId">
        </ion-avatar>
        <ion-label class="message-bubble mensaje-propio" *ngIf="m.usuarioId === usuarioId">
          {{ m.mensaje }}
          <br>
        </ion-label>



        <ion-avatar slot="end" *ngIf="m.usuarioId !== usuarioId">
          <ion-img src="{{sessionStorage.getItem('avatar')}}"></ion-img>
        </ion-avatar>
        <ion-label class="message-bubble mensaje-ajeno" slot="end" *ngIf="m.usuarioId !== usuarioId">
          {{ m.mensaje }}
          <br>
        </ion-label>

      </ion-item>


    </ion-list>
  </ion-card>
  <div class="chat-input">
    <ion-item>
      <ion-input placeholder="Escribe un mensaje..." [(ngModel)]="nuevoMensaje"></ion-input>
      <ion-button fill="clear" color="primary" (click)="enviarMensaje()">➤</ion-button>
    </ion-item>
  </div>
</ion-content>
