<ion-content style="--background: white; font-family: Arial, sans-serif;">

  <div  style="border: none; width: 95%; text-align: center; margin-top: 3%; margin-right: auto;margin-left: auto; color: white; font-size: 50px; background-color: #1C4585; border-radius: 10px; padding: 20px;">
    <p style="margin: 0;">Crear libro</p>
  </div>

  <!-- Formulario -->
  <div style="border: none; width: 95%; margin: 20px auto; background-color: #1C4585; color: black; border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ion-input style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
               label="Introduzca el título del libro" label-placement="floating"
               fill="outline" placeholder="Escriba el título"></ion-input>
    <ion-input style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
               label="Introduzca el autor del libro o no lo rellene si es usted"
               label-placement="floating" fill="outline" placeholder="Escriba el autor"></ion-input>
    <ion-input style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
               label="Género del libro" label-placement="floating" fill="outline"
               placeholder="Escriba el género"></ion-input>
    <ion-input style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
               label="Descripción del libro" label-placement="floating" fill="outline"
               placeholder="Escriba la descripción"></ion-input>
    <ion-input style="width: 100%; --background: white; margin-top: 20px; --color: black; --placeholder-color: #1C4585;"
               label="Introduzca la URL de la imagen de portada" label-placement="floating"
               fill="outline" placeholder="URL de la portada"></ion-input>
  </div>


  <div style="width: 80%; display: flex; justify-content: center; align-items: center; margin: auto;">
    <ion-button style="width: 50%; height: 60px; font-size: 20px; --background: #1C4585; color: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);" size="large">
      Publicar
    </ion-button>
  </div>

</ion-content>
