<app-navbar></app-navbar>

<ion-content id="main-content" class="custom-background">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let libro of librosTop">
        <ion-card>
          <img [src]="libro.imagen" alt="Portada del libro" />
          <ion-card-header>
            <ion-card-title>{{ libro.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ libro.descripcion }}</p>
            <ion-chip color="primary">
              <ion-label>{{ libro.generos }}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
