<ion-content>
  <div class="login-container">
    <ion-icon name="person-circle-outline" class="icon"></ion-icon>

    <ion-item lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Nom Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Confirmar</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>


    <div class="signup-link">
      <a href="Login">¿Ya tienes una cuenta?</a>
      <p>Inicia Sesion</p>
    </div>
  </div>

  <ion-button expand="block" class="login-button" color="primary">Crear</ion-button>

</ion-content>
